body{
    margin: 0;
    background:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    position: relative;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    justify-content: center;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul{
    margin-left: 540px;
    margin-bottom: -20px;
    margin-top: -20px;
    justify-content: center;

}

.btn1 {
    justify-content: center;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.btn2 {
    justify-content: center;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

@media  only screen and (max-width: 800px ) {
 
    nav ul {
        justify-content: center;
    }
    
}