 body {
        margin:auto
}

.container{
    width: 100%;
    max-width: 1400px;
    height: 430px;
    float: left;
    flex-wrap: wrap;
    justify-content: center;
    margin: 28px;
    padding: 30px;
    
}

.container .card{
    flex-wrap: wrap;
    float: left;
    width: 300px;
    height: 450px;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.5);
    margin:0.2cm auto;
    margin-right: 10px;
    margin-bottom: 1cm;
    justify-content: center;
    display: flex;
    transition: all 0.25s;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}


.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
}

.container .card img{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    height: 275px;
}

.container .card .titulo{
    text-align: left;
    position: absolute;    
    font-weight: 740;
    padding-top: 295px;
    overflow: hidden;
    color: #3498db;
}

.container .card .especie{
   position: absolute;    
    font-weight: 540;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 325px;
    color: #092436;
}

.container .card .ubicacion{
    overflow: hidden;
    display: flex;
    position: absolute;
    text-align: center;  
    padding-left: 20px;  
    font-weight: 540;
    flex-wrap: wrap;
    padding-top: 360px;
    padding-right: 20px;
    color: #092436;
}

.container .card .origen{
    overflow: hidden;
    display: flex;
    position: absolute;
    text-align: center;    
    font-weight: 540;
    padding-left: 20px;  
    flex-wrap: wrap;
    padding-top: 410px;
    padding-right: 20px;
    color: #092436;
}